// Filter Buttons

@use '../base/settings' as *;
@use '../utilities/functions' as *;


.top-bar{
    padding: 6.5vw 5vw 0vw 5vw;
    display: flex;
    justify-content: space-between;

    @media (min-width: 475px){
        padding: 5vw 5vw 0vw 5vw;
    }
}

.filter-button{
    list-style-type: none;
    padding-bottom: 0;
}

.filter-buttons{
    z-index: 2;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 50px;
    grid-gap: 0.3em;
    margin: 0 auto;

    @media (min-width: 475px){
        display: flex;
    }
}

.filter-button a{
    display: inline-block;
    text-decoration: none;
    border: 1px solid $borderColor;
    border-radius: 18px;
    text-align: center;
    color: $grey;
    padding: 14px;
    font-size: 0.7em;
    width: 100%;

     &:hover,
     &:active,
     &:focus{
         background-color: $pink;
         border: 1px solid $pink;
         color: white;
     }

     @media (min-width: 475px){
        width: 98px;
        margin: 5px 4px;
    }
}

a.current-filter{
    background-color: $pink;
    border: 1px solid $pink;
    color: white;
}


 @media (min-width: 720px){

     .filter-button a{
         display: inline-block;
         padding: 15px;
         margin: 0 10px;
         width: 115px;
     }

     .filter-buttons{
         margin: 0;
     }

     .top-bar{
         padding: 5vw 4vw 0vw 4vw;
     }
     
 }