// Header

@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

header {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    h1 {
        @include flatten;
        margin: 0 0 0 em(12, 32);
        line-height: 70px;
        a {
            text-decoration: none;
            color: black;
        }
    }

    img{
        width: 150px;
        height: auto;
        margin: 15px 25px;
        padding: 10px 0 5px 0;
    }
}

@media (min-width: 720px){

    header{
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    
        img{
            padding-bottom: 0;
            margin: 15px 35px;
        }

    }
}