// Main

@use '../base/settings' as *;
@use '../utilities/functions' as *;

main {
    
    // Banner

    .banner{
        display: none;
    } 
    

   section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 2em;
        padding: 5vw;
   }

   // Search Bar

   .search-bar{
       margin-top: 17px;
       width: 160px;
       display: none;

       input{
        background-color: rgb(43, 42, 42);
        color: rgb(161, 161, 161);
        outline: none;
        border: none;
        border-radius: 15px;
        padding: 10px;
        width: 160px;
       }
   }
  
   // Filter Buttons

   .top-bar{
       padding: 4vw 4vw 0vw 4vw;
       display: flex;
       justify-content: space-between;
   }

   .filter-button{
    background-color: transparent;
    border-radius: 18px;
    padding: 15px;
    width: 125px;
    outline: none;
    border: 1px solid rgba(161, 161, 161, 0.379);
    color: rgb(161, 161, 161);
    margin: 10px;
    font-family: $bodyFont;
   }

    .filter-button:hover, .filter-button:active{
        background-color: #ff0267;
        border: 1px solid #ff0267;
        color: white;
    }
   


    @media (min-width: 670px){
        
        section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-gap: 2em;
            padding: 5vw;
        }

        article {
            
            margin-bottom: 0;
        }

        .banner{
            display: block;
        }

        .banner img{
            filter: brightness(30%);
            height: 85vh;
        }
    
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
            filter: brightness(85%);
        }
    
        .text-overlay{
            position: relative;
            bottom: 55%;
            left: 38%;
            border-radius: 20%;
            width: 85px;
            line-height: 120px;
            height: 70px;
            text-align: center;
            font-size: 40px;
            border: 1px solid rgba(161, 161, 161, 0.379);
    
            p{
                color: rgb(161, 161, 161);
            }
        }
    
        #rating-overlay{
            position: absolute;
            top: 51%;
            left: 80%;
        }
    
        .movie-info-overlay{
            position: absolute;
            top: 44%;
            left: 12%;
    
    
            h2{
            font-size: 55px;
            text-transform: uppercase;
            color: white;
            margin-bottom: 0;
            }
    
            h3{
                color: white;
                letter-spacing: 1px;
                font-size: 18px;
            }
    
            p{
                color: rgb(161, 161, 161);
                width: 405px;
                line-height: 25px;
            }
        }
    
       .banner-button{
           background-color: #ff0267;
           border-radius: 18px;
           padding: 15px;
           width: 125px;
           outline: none;
           border: none;
           color: white;
           position: relative;
           right: 40px;
           font-family: $bodyFont;
       }

      
    }

    
    @media (min-width: 1000px){
        
        section {
            grid-template-columns: repeat(3, 1fr);
        }

        .search-bar{
            width: 320px;
            display: block;
     
                input{
                background-color: rgb(43, 42, 42);
                color: rgb(161, 161, 161);
                outline: none;
                border: none;
                border-radius: 15px;
                padding: 10px;
                width: 320px;
                }
            }
    }


    @media (min-width: 1400px){
            
        section {
            grid-template-columns: repeat(4, 1fr);
        }

    }

}