// Main Nav

@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.main-nav {

    width: 100%;
    background-color: #000001;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.5s ease, visibility 0s 0.5s;

    .show & {
        transition: height 0.5s ease, visibility 0s;
        visibility: visible;
        height: 155px;
    }

    ul {
        @include flatten($is-list: true);
    }
    a.router-link {
        color: $light;
        text-decoration: none;
        display: block;
        line-height: 50px;
        font-size: 1.3em;
        font-weight: bold;
        padding: 0 28px;
       
        &:hover,
        &:focus,
        &:active {
            background-color: rgba(white, 0.2);
        }

    }

    @media (min-width: 670px){
        height: auto;
        visibility: visible;
        transition: none;
        background-color: transparent;
        
        

        .show & {
            transition: none;
            height: auto;
        }
        
        ul {
            display: flex;
            justify-content: flex-end;
            height: 110px;
        }

        

        a.router-link {
            
            text-align: center;
            line-height: 110px;
            width: 170px;
            
        }

    }

}