// Main

@use '../base/settings' as *;
@use '../utilities/functions' as *;

main {
    
    // ========================================================================
    // Home
    // ========================================================================

   .movie-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 2em;
        padding: 6vw;
   

        img{ 
            object-fit: cover;
            height: 100%;
            width: 100%;
            filter: brightness(85%);
        }
   }

   @media (min-width: 720px){
        
      .movie-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 2em;
        padding: 4vw 5vw 4vw 5vw;
        }

        .top-bar{
            padding-top: 4vw;
        }
   }

   @media (min-width: 1000px){
    
        .movie-cards {
            grid-template-columns: repeat(3, 1fr);
        }

    }

    @media (min-width: 1400px){
            
        .movie-cards {
            grid-template-columns: repeat(4, 1fr);
        }

    }

   // ========================================================================
   // Favourites
   // ========================================================================

   .movie-cards-favourites{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 2em;
    padding: 5vw;

        .unfave-button{
            margin-left: 0;
            background-color: transparent;
            border: 1px solid $borderColor;
            color: $grey;
            position: absolute;
            left: 50%;
            top: 390px;
            border-radius: 18px;
            padding: 15px;
            outline: none;
            width: 125px;
            transform: translate(-50%, -50%);
            font-family: $bodyFont;
        }
        
    }  

    .text-box{
        padding: 19vw 5vw 15vw 5vw;
        margin: 0 auto;
        text-align: center;
    }

    @media (min-width: 720px){

        .movie-cards-favourites {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-gap: 2em;
            padding: 10vw 5vw 5vw 5vw;
            margin-top: 35px;
        }
    }

    @media (min-width: 1000px){

         .movie-cards-favourites {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (min-width: 1400px){

        .movie-cards-favourites {
            grid-template-columns: repeat(4, 1fr);
            margin-top: 0;
        }
    }


    // ========================================================================
   // About Page
   // =========================================================================

   .about-section{
       padding: 10vw 10vw 8vw 10vw;
       margin: 0 auto;

        .favourites-link{
            color: #d4d3d3;
            text-decoration: none;
        }

        .favourites-link:hover,
        .favourites-link:active{
            border-bottom: 1px solid $pink;
        }
   }

   .tmdb-section{
        margin: 0 auto;
        padding: 0vw 10vw 10vw 10vw;

        .tmdb-logo{
            width: 50px;
            margin-top: 20px;
        }
   }

   @media (min-width: 720px){

        .about-section{
            padding: 18vw 25vw 2vw 25vw;
        }

        .tmdb-section{
            padding: 0vw 25vw 10vw 25vw;
        }
   }

   // ========================================================================
   // Single Page
   // ========================================================================

   .banner-img-single{
    filter: brightness(25%);
    position: fixed;
   }

   .single-movie-container{
       padding: 0;
   }

   .single-movie-card{
       margin: 50px 30px 70px 30px;
       background-color: rgba(0, 0, 0, 0.585);
       padding: 30px;
       border-radius: 20px;
       position: relative;
       top: 30px;
       display: grid;
       grid-template-columns: 1fr;
       grid-gap: 3em;

       .no-genre{
           margin-left: 5px;
       }

       .movie-button{
           margin: 0;
           background-color: transparent;
           border: 1px solid $borderColor;
           width: 150px;
           color: $grey;
           position: relative;
           left: 75%;
           top: 12%;
       }

       .movie-button:hover{
            background-color: $pink;
            color: white;
            border: 1px solid $pink;
        }

       .single-movie-rating{
           position: absolute;
           top: 2.4%;
           left: 82%;
           width: 48px;
           height:38px;
           pointer-events: none;
           border-radius: 20%;
           border: 1px solid $borderColor;
           background: transparent;
           text-align: center;
           line-height: 38px;
           font-size: 16px;
       }

       .single-movie-info{
           display: flex;

           h5{
               margin-right: 25px;
               margin-top: 0;
           }

           h4{
               font-size: 0.8em;
               margin: 0 25px 25px 0;
           }
       }

       .genre-tag{
           margin: 4px;
           color: $grey;
           font-size: 0.9em;
       }

       .back-button{
        filter: invert(48%) sepia(100%) saturate(0%) hue-rotate(327deg) brightness(100%) contrast(115%);
        margin-bottom: 1.5rem;
       }

       .back-button:hover,
       .back-button:active{
        filter: invert(48%) sepia(100%) saturate(8476%) hue-rotate(327deg) brightness(100%) contrast(115%);
       }

       .back-button-container{
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        background-color: white;
        height: 50px;
       }

   }

   @media (min-width: 720px){

        .single-movie-card{
            grid-template-columns: 350px 1fr;
            width: 700px;
            margin: 0 auto;
            top: 12vw;
           // margin-top: 13vw;
            margin-bottom: 22vw;

            .single-movie-rating{
                top: 7%;
                left: 49%;
            }

            .movie-button{
                position: absolute;
                left: 45%;
                top: 86%;
            }

            .single-movie-container{
                padding: 0;
            }
        }
   }

    // ========================================================================
   // 404 Page
   // =========================================================================

   .error-section{
    padding: 10vw;
    margin: 0 auto;
   }


    @media (min-width: 720px){

        .error-section{
            padding: 18vw 25vw;
        }

    }

}