@use '../base/settings' as *;

.card{
  position: relative;
}


.card:hover .content{
  transition: 0.2s ease-in;
  opacity: 1;
}

.content{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 80px 20px;
  transition: 0.2s ease-in;
}


.content a:hover .card .content{
  opacity: 1;
}


 /* .card {
    position: relative;
    overflow: hidden;

  }

  .card:hover{
      .content{
          opacity: 1;
      }
  }

  */
  
  .rating {
    position: absolute;
    width: 48px;
    height:38px;
    top: 27px;
    right: 20px;
    pointer-events: none;
    border-radius: 20%;
    border: 1px solid rgba(161, 161, 161, 0.379);
    background: transparent;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    }

    
    .img-box{
    width: 100%;
    height: 100%;
    }
  
  
  .content h2 {
    color: rgb(161, 161, 161);
    margin-top: 20px;
  }

  .content h4{
      margin-top: 18px;
      font-size: 10px;
      text-transform: uppercase;
      font-size: 11px;
      position: absolute;
      top: 10px;
  }

  .content h5{
    font-size: 11px;
    position: absolute;
    top: 30px;
  }
  
  .content p {
    margin: 0;
    padding: 0;
    color: rgb(161, 161, 161);
    line-height: 20px;
  }

  .movie-button{
    background-color: #ff0267;
    border-radius: 18px;
    padding: 15px;
    outline: none;
    border: none;
    width: 125px;
    margin: 0 70px;
    margin-top: 40px;
    font-family: $bodyFont;
    

    a{
      color: white;
      text-decoration: none;
    }
  }


  p{
    font-size: 0.8em;
    color:rgb(212, 211, 211);
    margin-bottom: 0;
    margin-top: 10px;
  }
  

.favourite-icon{
  width: 15%;
  height: auto;
  position: absolute;
  bottom: 27px;
  right: 20px;
}


